body {
  background-color: #242375;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vw;
  background-image: url('./img/top_circles.svg');
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-name {
  flex: 1;
  margin-left: 20px;
}

.user-name > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.right-nav > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.full-name > h1 {
  color: rgb(147, 145, 255);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  flex: 2;
}

.carrier > h2 {
  color: rgb(237, 236, 255);
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.details {
  flex: none;
  order: 0;
  flex-grow: 0;
  position: static;
  width: 327px;
  height: 170px;
}

.content > p {
  color: rgb(200, 200, 212);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 40px 24px;
}

.break > hr {
  background-color: rgb(100, 99, 105);
  border: none;
}

.experience {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  color: rgb(147, 144, 255);
}

.language > .lan-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 13.1389px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  list-style: none;
}

.list-head {
  list-style: none;
}

.frameworks > .framework-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 13.1389px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  list-style: none;
}

.skills > .skill-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 13.1389px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  list-style: none;
  width: 20vw;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 50%;
  list-style: none;
}

.social-icon > img {
  display: flex;
  flex-direction: row;
}
