body {
  background-color: #191765;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.mobile-menu-list {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin-left: 0;
  margin-top: 0;
  margin-right: 53px;
  left: 0;
  background-color: #191765;
  list-style-type: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile-menu-list .text-menu {
  margin-bottom: 54px;
}

.mobile-menu-list a {
  color: #fff5e1;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cheveron_right {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 82px;
}

#left_mobile_menu {
  position: absolute;
  left: 0;
  width: 226px;
  height: 427px;
  z-index: -1;
}

#right_mobile_menu {
  position: absolute;
  right: 0;
  width: 135.13px;
  height: 333.06px;
  left: 318.94px;
  top: 365.54px;
  background: rgba(237, 236, 255, 0.9);
  filter: blur(40px);
  transform: rotate(136deg);
}

#close-button {
  margin: 16px 82px 22px auto;
  color: white;
  float: right;
}

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #191765;
  z-index: 1;
  padding: 10px;
  margin-bottom: 20px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.link-humburgur > img {
  margin-right: 20px;
}

.user-name {
  flex: 1;
  margin-left: 20px;
}

.user-name > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 30px;
}

.full-name > h1 {
  color: rgb(147, 145, 255);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  flex: 2;
  animation-name: rotate_name;
  animation-duration: 1s;
}

.carrier > h2 {
  color: rgb(237, 236, 255);
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.top-shine-1 {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-right: 1200px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  width: 50%;
}

.content > p {
  color: rgb(200, 200, 212);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 40px 24px;
}

.break {
  display: inline-block;
}

.experience {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  color: rgb(147, 144, 255);
}

.link-list-desk {
  display: none;
}

.language > .lan-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 13.1389px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  list-style: none;
}

.list-head {
  list-style: none;
}

.frameworks > .framework-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 13.1389px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  list-style: none;
}

.desk-circle {
  display: none;
}

.full-circle {
  list-style: none;
  width: 200px;
  height: 200px;
}

img.full-circle {
  width: 170px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 660px;
}

img.work-2-img {
  width: 170px;
  height: 200px;
  position: absolute;
  right: -26px;
  top: 560px;
}

.skills > .skill-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 13.1389px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  list-style: none;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 50%;
  list-style: none;
}

.social-icon > img {
  display: flex;
  flex-direction: row;
}

.next-page > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.down-key > li {
  display: flex;
  align-content: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  height: 21px;
  color: rgb(162, 163, 174);
}

.work-opening {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.mobile-popup {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 30px;
  left: 34px;
  width: 85%;
  height: 95%;
  overflow-y: scroll;
  background-color: #191765;
  border: 1px solid white;
  z-index: 1;
}

.popup-heading {
  display: flex;
  justify-content: flex-start;
  margin: 24px;
}

.popup-heading h2 {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: white;
  display: flex;
  align-items: center;
}

.popup-heading > img {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  height: 50px;
}

.popup-proj-img {
  display: flex;
  justify-content: center;
}

.popup-proj-img > img {
  width: 100%;
  margin-right: 24px;
  margin-left: 24px;
}

.popup-proj-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 23px;
}

.popup-detail,
.popup-tech-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-detail > p {
  display: flex;
  text-justify: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
}

.popup-tech-box > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.popup-tech-list > li {
  margin-left: 20px;
}

.popup-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-btn > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background: #7d73fc;
  border: none;
  height: 30px;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  padding: 20px;
}

a > .popup-btn-img {
  margin-left: 16px;
}

.works {
  display: grid;
  position: relative;
  grid-template-rows: auto auto auto auto auto auto auto;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.page-header {
  display: flex;
  color: rgb(148, 144, 255);
  text-align: center;
  height: 90px;
  justify-content: flex-start;
  font-weight: 200;
  font-size: 20px;
  line-height: 52px;
}

.project-img {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.project-sec-img {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.project-sec-img > img {
  width: 100%;
  height: 50vh;
}

.project-desk-img {
  display: none;
}

.project-title > h2 {
  display: block;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.project-description > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: rgb(220, 220, 232);
}

.tech-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tech-list > li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

button.see-more {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 30%;
  letter-spacing: 0.03em;
  background-color: rgb(125, 115, 252);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
  border: none;
  color: white;
}

.top-work-shine-1 > img {
  position: absolute;
  width: 200px;
  left: -26px;
  top: 150px;
}

#shine-2 > img {
  transform: scaleX(-1);
  position: absolute;
  width: 200px;
  left: 270px;
  top: 150px;
}

#shine-3 > img {
  transform: rotate(-50deg);
  position: absolute;
  width: 200px;
  left: -115px;
  top: 350px;
  z-index: -1;
}

#last-hr-line > img {
  width: 100%;
  height: 1px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 134px;
  margin-left: 24px;
  margin-right: 24px;
}

.contact-container > .contact-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-intro > .contact-header {
  display: flex;
  justify-content: center;
}

.social-links {
  display: none;
}

.contact-header > h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: rgb(147, 144, 255);
}

.contact-intro > .contact-desc {
  display: flex;
  justify-content: center;
}

.contact-desc > p {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgb(245, 245, 255);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-inbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  margin-bottom: 24px;
}

.contact-inbox > input[type="text"] {
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: rgb(129, 129, 140);
}

.contact-inbox > input[type="text"]:valid {
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: rgb(129, 129, 140);
}

.contact-inbox > input[type="text"]:focus:invalid {
  border: 4px dashed red;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: rgb(129, 129, 140);
}

.contact-inbox > input[type="email"] {
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: rgb(129, 129, 140);
}

.contact-inbox > input[type="email"]:focus:invalid {
  border: 4px dashed red;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: rgb(129, 129, 140);
}

.contact-txt-area {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  margin-bottom: 24px;
}

textarea {
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  height: 124px;
}

textarea:focus:invalid {
  border: 4px dashed red;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  height: 124px;
}

.btn-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 48px;
}

.btn-submit > input {
  color: white;
}

.btn-grid > .btn-submit {
  grid-column: 3 / 4;
  display: flex;
  padding: 12px;
  justify-content: center;
  background-color: rgb(125, 115, 252);
}

.btn-grid > .btn-submit:hover {
  grid-column: 3 / 4;
  display: flex;
  padding: 12px;
  justify-content: center;
  background-color: rgb(171, 171, 194);
}

.btn-submit > input[type="submit"]:enabled {
  background-color: rgb(125, 115, 252);
  border: none;
}

.btn-submit > input[type="submit"]:hover {
  background-color: rgb(171, 171, 194);
  border: none;
}

.last-break {
  display: inline-block;
  margin-top: 71px;
}

.last-break > #last-line-id {
  width: 100%;
  height: 1px;
}

.bottom-icons {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
}

.bottom-icons > .social-icon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 0;
}

.bottom-icons > .email-link {
  grid-column: 2 / 3;
  grid-row: 2;
}

.email-link > h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: rgb(235, 235, 255);
}

@keyframes rotate_name {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 992px) {
  .bootom-shine-1 {
    display: flex;
    justify-content: flex-end;
    width: 68px;
    height: 68px;
  }

  .bootom-shine-1 > img {
    position: absolute;
    width: 68px;
    height: 68px;
  }

  .chat-container {
    display: none;
  }

  .desk-footer {
    display: none;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .user-name {
    margin-left: 156px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 90px;
  }

  .right-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 156px;
    width: 50%;
  }

  .popup-detail > p {
    display: flex;
    text-justify: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    width: 60%;
  }

  .popup-tech-box > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    width: 60%;
  }

  .popup-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .popup-btn > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: #7d73fc;
    border: none;
    height: 30px;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    padding: 20px;
  }

  #popup-see-source {
    margin-left: 90px;
  }

  .right-nav > .link-list-desk {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    width: 50%;
    height: 100%;
    align-items: center;
  }

  li > .menus {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .link-humburgur {
    display: none;
  }

  .top-shine-1 > img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0.5em;
  }

  .bootom-shine-1 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 435px;
    left: 1100px;
    filter: blur(0.5px);
  }

  .bootom-shine-1 > img {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .skills > .skill-list {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 13.1389px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    list-style: none;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 100px;
  }

  .social-links > .social-icon {
    display: flex;
    justify-content: space-between;
    height: 50px;
    min-width: 20%;
    align-items: center;
    padding-left: 0;
  }

  .social-icon > li {
    margin-right: 20px;
  }

  #last-social-link {
    justify-content: center;
  }

  .details > * {
    display: none;
  }

  .work-opening {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }

  .mobile-popup {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 328px;
    width: 55%;
    height: 95%;
    overflow-y: scroll;
    background-color: #191765;
    border: 1px solid white;
    z-index: 1;
  }

  #popup-proj-img {
    width: 100%;
    height: 500px;
  }

  .page-header {
    margin-bottom: 53px;
  }

  .page-header > h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 114px;
  }

  .works {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
  }

  .project-img {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .project-img > img {
    height: 100%;
    width: 50vw;
  }

  .project-sec-img > img {
    display: none;
  }

  .project-desk-img {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .project-desk-img > img {
    height: 100%;
    width: 50vw;
  }

  .work-grid {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .tech-list {
    width: 75%;
  }

  .see-more {
    width: 40%;
  }

  .contact-container {
    display: none;
  }

  .chat-container {
    display: flex;
    justify-content: center;
    margin-top: 126px;
  }

  .chat-content {
    width: 50%;
  }

  .chat-header > h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: rgb(147, 144, 255);
  }

  .chat-desc > p {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding-left: 0;
    color: rgb(245, 245, 255);
  }

  .last-break {
    display: flex;
  }

  .last-break > #last-line-id-1 {
    width: 100%;
    height: 1px;
  }

  .top-work-shine-1 {
    position: absolute;
    width: 150px;
    height: 150px;
  }

  .top-work-shine-1 > img {
    position: absolute;
    width: 167px;
    left: -108px;
    top: 150px;
  }

  .btn-send {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    height: 80px;
    align-items: center;
  }

  .btn-send > input {
    width: 30%;
    height: 65%;
    color: white;
    border: none;
    background-color: rgb(147, 144, 255);
  }

  .btn-send > input[type="submit"]:hover {
    background-color: aquamarine;
  }

  button.see-more {
    width: 40%;
    border: none;
  }

  img.work-2-img {
    width: 170px;
    height: 200px;
    position: absolute;
    right: -115px;
    top: 333px;
  }

  .full-circle {
    display: none;
  }

  .desk-circle {
    display: block;
    list-style: none;
    width: 200px;
    height: 200px;
  }

  img.desk-circle {
    width: 170px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 371px;
  }

  a:hover {
    border-bottom: 1px solid white;
  }

  #shine-2 > img {
    width: 200px;
    left: 1102px;
  }

  #shine-3 > img {
    transform: rotate(126deg);
    position: absolute;
    width: 200px;
    left: -115px;
    top: 235px;
  }

  #email-contact {
    text-decoration: none;
    color: white;
  }

  #last-hr-line > img {
    height: 1px;
  }
}
