body {
  background-color: #242375;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../img/Ellipse.png');
}

.main-article {
  background-image: url('../img/Ellipse.png');
  background-size: auto;
}

.page-header {
  display: flex;
  color: rgb(148, 144, 255);
  text-align: center;
  height: 90px;
  align-items: center;
  justify-content: flex-start;
  font-weight: 200;
  font-size: 20px;
  line-height: 52px;
}

.project-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.project-img > img {
  flex: 1;
}

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px 5px 5px;
}

.project-title {
  display: block;
  color: white;
}

.project-description > p {
  color: rgb(220, 220, 232);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.tech-list > ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style: none;
  list-style-position: inside;
  color: white;
}

.border-item {
  padding: 10px;
  border-left: 1px solid rgb(85, 85, 85);
}

#first-item {
  padding: 10px 10px 10px 1px;
}

.see-more {
  display: flex;
  justify-content: flex-start;
}

.see-more > input[type=submit] {
  background-color: rgb(125, 115, 252);
  padding: 10px;
  text-decoration: none;
  color: rgb(237, 236, 255);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
